$light: rgb(188, 197, 206);
$lightModeGrey: rgb(157, 158, 163);
$lightModeBorder: rgb(115, 120, 128);

$darkModeText: #ffff00;
$darkModeBlack: rgb(41, 41, 41);
$darkModeClearGrey: rgba(0, 0, 0, 0.7);
